@use "../../styles/colors.scss";

.GameOver {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.25rem;

  p,
  a {
    text-align: center;
    background-color: var(--game-over-bg-color);
    margin: 0.25rem;
    padding: 1rem;
  }

  p {
    font-size: 2rem;
    grid-column-start: 0;
    grid-column-end: span 2;
    color: var(--game-over-text-color);
  }

  a {
    font-size: 1.4rem;
    color: var(--game-over-button-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: var(--game-over-button-hover-bg-color);
      color: var(--game-over-button-hover-text-color);
    }
  }
}
