.LevelActions {
  margin: 0.25rem;

  button {
    width: calc(100% - 0.5rem);
    border: none;
    margin: 0.25rem;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--level-actions-bg-color);
    color: var(--level-actions-text-color);
    caret-color: transparent;

    svg {
      margin-right: 0.5rem;

      path: {
        fill: var(--level-actions-text-color);
      }
    }

    &.play {
      background-color: var(--level-actions-play-bg-color, --level-actions-bg-color);
      color: var(--level-actions-play-text-color, --level-actions-text-color);

      svg {
        path: {
          fill: var(--level-actions-play-text-color);
        }
      }
    }
  }

  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
