@mixin button {
  background-color: transparent;
  border: none;

  &.active {
    background-color: white;
  }

  &:hover > * {
    transform: translateY(-2px);
  }
}

.DifficultyAnnotator {
  width: 100%;
  height: 100%;

  .UI {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    // Otherwise, the Three.js canvas cannot received clicks.
    // Need to reenable pointer-events for buttons with another rule.
    pointer-events: none;

    button,
    a {
      pointer-events: all;
    }

    .top-bar {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: #ffffff80;
      height: 5rem;

      .others,
      .chunk-selection {
        button,
        a {
          @include button;

          font-size: 3.3rem;
          width: 5rem;
          height: 5rem;
          color: var(--editor-button-text-color);

          &.deactivated {
            opacity: 50%;

            &:hover > * {
              transform: none;
            }
          }
        }
      }
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      width: max-content;
      overflow-y: scroll;
      height: 100%;
      pointer-events: all;

      .chunk {
        border: none;
        border-top: 1px solid #77777780;
        background-color: #ffffff80;
        font-size: 1rem;
        padding: 1rem;
        cursor: pointer;

        &.active {
          background-color: #ffffffe0;
          font-weight: bold;

          .controls {
            button,
            input {
              background-color: #fff;
            }
          }
        }

        &:hover {
          background-color: #ffffffe0;
        }

        p {
          margin: 0;
          margin-bottom: 1rem;
          text-align: left;
        }

        .controls {
          display: flex;

          button {
            border-radius: 0;
            border: 1px solid #777;
            background-color: #eee;
            width: 2rem;

            &:first-child {
              border-radius: 0.3rem 0 0 0.3rem;
            }

            &:last-child {
              border-radius: 0 0.3rem 0.3rem 0;
            }
          }

          input {
            background-color: #eee;
            border: 1px solid #777;
            border-left: none;
            border-right: none;
            font-size: 1.4rem;
            width: calc(3ch + 2rem);
            padding: 0.25rem 1rem;
            text-align: right;
          }
        }
      }
    }

    .settings-wrapper {
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: all;

      .settings {
        background-color: #ffffff80;
        padding: 1rem;
        border-radius: 1rem;
        width: 30em;
        max-width: 60%;
      }
    }
  }

  &.disclaimer {
    background-color: #fff;
    color: black;
    padding: 1rem;

    p {
      width: 100%;
      max-width: 80ch;
      margin: auto;

      ul {
        li {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
