html {
  --outline-color: #f82744;
  --bg-color: #000;
  --text-color: #fff;
  --navbar-bg-color: #afafaf;
  --navbar-text-color: #fff;
  --search-criteria-bg-color: #091824;
  --search-criteria-text-color: #fff;
  --search-criteria-dropdown-bg-color: #222d36;
  --search-criteria-dropdown-text-color: #fff;
  --search-criteria-dropdown-icon-color: rgb(65 141 255);
  --search-criteria-dropdown-indicator-color: #fff;
  --search-criteria-dropdown-selected-icon-color: rgb(253 157 79);
  --search-criteria-dropdown-focused-bg-color: #3a4447;
  --search-criteria-multi-range-selector-bar-outer-color: #3a4447;
  --search-criteria-multi-range-selector-bar-inner-color: #c7cacc;
  --search-criteria-multi-range-selector-left-thumb-color: rgb(65 141 255);
  --search-criteria-multi-range-selector-right-thumb-color: rgb(253 157 79);
  --search-criteria-multi-range-selector-thumb-label-bg-color: #3a4447;
  --search-criteria-multi-range-selector-thumb-label-text-color: #fff;
  --search-criteria-multi-range-selector-label-color: #c7cacc;
  --search-criteria-checkbox-color: #3a4447;
  --search-criteria-checkbox-checked-color: rgb(65 141 255);
  --search-bar-bg-color: #091824;
  --search-bar-text-color: #fff;
  --search-bar-placeholder-color: #c7cacc;
  --to-editor-bg-color: #222d36;
  --to-editor-hover-bg-color: #546469;
  --to-editor-hover-text-color: #fff;
  --to-editor-text-color: rgb(65 141 255);
  --level-list-row-bg-color: #091824;
  --level-list-row-text-color: #fff;
  --level-list-row-active-bg-color: #222d36;
  --level-list-row-active-text-color: rgb(253 157 79);
  --level-list-row-hover-bg-color: #546469;
  --level-list-row-hover-text-color: #fff;
  --level-meta-bg-color: #222d36;
  --level-meta-text-color: #c7cacc;
  --level-meta-secondary-text-color: #858585;
  --level-difficulty-bg-color: #222d36;
  --level-difficulty-empty-box-color: #1a232a;
  --level-difficulty-icon-color: #fff;
  --level-difficulty-hover-icon-color: #c7cacc;
  --level-actions-bg-color: #222d36;
  --level-actions-text-color: #fff;
  --level-actions-play-bg-color: #f82744;
  --level-actions-play-text-color: #000;
  --level-actions-hover-bg-color: #31424e;
  --level-actions-hover-text-color: #fff;
  --level-actions-hover-play-bg-color: #f75050;
  --level-actions-hover-play-text-color: #000;
  --legal-menu-bg-color: #091824;
  --legal-menu-text-color: #fff;
  --legal-menu-active-text-color: rgb(253 157 79);
  --legal-content-bg-color: #091824;
  --legal-content-text-color: #fff;
  --article-bg-color: #091824;
  --article-link-color: #f536be;
  --article-link-visited-color: #8143fe;

  /* --difficulty-color-1: #ff5d47;
  --difficulty-color-1: #ff577e;
  --difficulty-color-1: #ff47b3;
  --difficulty-color-1: #dd57ff;
  --difficulty-color-1: #8885ff;
  --difficulty-color-1: #3d94ff;
  --difficulty-color-1: #00b8cc;
  --difficulty-color-1: #5ce087;
  --difficulty-color-1: #aefa44;
  --difficulty-color-1: #ff0;
  --difficulty-color-1: #ffbe00;
  --difficulty-color-1: #ff7d00; */
  --difficulty-color-20: #ff003c;
  --difficulty-color-19: #ff003c;
  --difficulty-color-18: #c1006f;
  --difficulty-color-17: #c1006f;
  --difficulty-color-16: #8200a1;
  --difficulty-color-15: #8200a1;
  --difficulty-color-14: #413ad0;
  --difficulty-color-13: #413ad0;
  --difficulty-color-12: #0073ff;
  --difficulty-color-11: #0073ff;
  --difficulty-color-10: #00adc0;
  --difficulty-color-9: #00adc0;
  --difficulty-color-8: #5ce087;
  --difficulty-color-7: #5ce087;
  --difficulty-color-6: #aefa44;
  --difficulty-color-5: #aefa44;
  --difficulty-color-4: #ff0;
  --difficulty-color-3: #ff0;
  --difficulty-color-2: #ffbe00;
  --difficulty-color-1: #ffbe00;
}
