.Browse {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 2fr;

  & > * {
    flex-grow: 1;
  }

  & > :nth-child(2),
  & > :nth-child(3) {
    display: flex;
    flex-direction: column;
  }
}
